body{
	padding:0px;
	margin:0px;
	height:100vh;
	font-family:'Arial', sans-serif;
}body{
	padding:0px;
	margin:0px;
	height:100vh;
	background-color:#fff;
}

.container{
	width:100%;
	height:100%;
}

.formSend{
	height:300px;
	width: 400px;
	margin: 30px auto 0;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	font-size: 11px;
	background-color:#5f579a;

}

.formSend form{
	
	
}

.button{
	width: 80px;
	height: 40px;
	border:0px;
	margin-top: 20px;
	background-color:black;
	color:white;
	cursor:pointer;
	font-weight:600;
	border-radius:1px;
}

.formSend .inp{
	padding: 7px;
	border:0px;
	border: 1px solid black;
}

.button:hover{
	border:1px solid #5f579a;
	color:#5f579a;
	background-color:white;
}

/* ###################### */
.listClients{
	width: 450px;
	padding: 5px;
}
.listClients .inp{
	width:90%;
	border: 1px solid black;
	border-bottom:0;
	padding: 6px;
    background-color:#5f579a;
    color: white;
}
.listClients .inp::placeholder{
	color:white;
	font-weight:600;
}
.listClients button{
	border:1px solid black;
	width: 25px;
	
	padding:0px;
	height: 25px;
	background-color:black;
	color: white;
	margin:0;
	border-radius:100%;
}
.listClients table{
	background-color: white;
	width: 100%;
	padding:0px;
	border:1px solid black;
	margin-top:-1px;
	border-collapse: collapse;
}


.listClients table tr{
	border-bottom:1px solid black;
	padding: 0px;
}
.listClients table td{
	padding:0px;
	margin:0px;
	padding: 5px;
	
}


.listClients table tr:hover{
	background-color: gray;
	color:white;
	
}

